<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bute.gb.onlab.PhotoTools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="hu.bute.gb.onlab.PhotoTools.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="hu.bute.gb.onlab.PhotoTools.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="hu.bute.gb.onlab.PhotoTools.application.PhotoToolsApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBcf5I1nf2npcHdizNWfd1gEAqYq2ot7vw" />

        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.StatsActivity"
            android:label="@string/title_activity_stats" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.LocationsActivity"
            android:label="@string/title_activity_locations" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.LocationsDetailActivity"
            android:label="@string/title_activity_locations_detail" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.FriendsDetailActivity"
            android:label="@string/title_activity_friends_detail" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.EquipmentActivity"
            android:label="@string/title_activity_equipment" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.EquipmentDetailActivity"
            android:label="@string/title_activity_equipment_detail" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.DeadlinesActivity"
            android:label="@string/title_activity_deadlines" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.DeadlinesDetailActivity"
            android:label="@string/title_activity_deadlines_detail" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.OnMapActivity"
            android:label="@string/title_activity_on_map" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.DeadlinesEditActivity"
            android:label="@string/title_activity_deadlines_edit" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.EquipmentEditActivity"
            android:label="@string/title_activity_equipment_edit" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.FriendsEditActivity"
            android:label="@string/title_activity_friends_edit" >
        </activity>
        <activity
            android:name="hu.bute.gb.onlab.PhotoTools.LocationsEditActivity"
            android:label="@string/title_activity_locations_edit" >
        </activity>
    </application>

</manifest>